{% extends "pages/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        {% include "sections/header.html" with headStart=True headEnd=True %}
        {% include "sections/mid-bottom.html" with midBottomStart=True midBottomEnd=False %}
            <form method="POST" autocomplete="off" class="text-light m-5 p-5 rounded-4">
                <h1 class="text-decoration-underline">Book Zoo Tickets</h1>
                {% csrf_token %}
                {{zooBookForm|crispy}}
                <br>
                <h2>Ticket Price: £<p class="w-25" style="display:inline-block;" id="output">0</p></h2>
                <br>
                <button type="submit" class="btn rounded-pill fs-2 w-100 text-center" style="background-color:#FFF831;">Book Now</button>
            </form>
        <script src='{% static "js/functions/booking.js" %}'></script>
        {% include "sections/mid-bottom.html" with midBottomStart=False midBottomEnd=True %}
{% endblock %}