@font-face {
    font-family: dynapuff;
    src: url("../fonts/dynapuff.ttf");
}
@font-face {
    font-family: blackHanSans;
    src: url("../fonts/BlackHanSans.ttf");
}
.navbar{
    font-family: dynapuff;
    border-radius: 20px;
    background-color: #F7F9F9;
    font-size: 25px;
    width:90%;
    margin-bottom: 50px;
}

.navbar img{
    width:150px;
    height: 120px;
    object-fit:cover;
    object-position: 0% -10%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
/* Creating a vertical line manually  
.vl {
    border-left: 3px solid black;
    height: 50px;
} */

.header{
    background-color: #00A67677;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-blend-mode: overlay;
    border: 1px #00000000 solid;
}


body{
    font-family: blackHanSans;
    background-color: #000000;
}
.midbottom {
    color:#301F1F;
    border: 1px #00000000 solid;
}

.midtop{
    color:#301F1F;
    border: 1px #00000000 solid;
}

.card{
    color:#301F1F;
}

.card-img-top {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

form{
    background-color:#601700;
    color:#ffffff !important;
}
form div{
    color:#ffffff !important;
}