{% load static %}

<nav class="navbar navbar-expand-xl navbar-light mx-auto">
    <a class="navbar-brand" href="{% url "" %}">
        <img src="{% static 'images/logoNLT.gif' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Visit
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url "visitUs" %}">Visit Us</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url "visitEdu" %}">Educational Visits</a>
            </div>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="{% url "whatsHere" %}">What's Here</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" href="{% url "aboutUs" %}">About Us</a>
          </li>
        <li class="nav-item dropdown ml-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Book Tickets
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Book Zoo Tickets</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Book Hotel Tickets</a>
          </div>
        </li>
    </ul>
        <div class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        <div class="vr text-dark opacity-100" style="width:5px;"></div>
        <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
        </li>
      </div>
    </div>
  </nav>


